@using Domain.DTO;
@using Domain.DomainModels;
@model List<DisplayMovieDto>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Movies";
}

<div class="container">
    <div class="content-heading">
        <div>
            Movies
            <div>
                <small>Add, delete or update movie</small>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12 pt-3">
        <div class="card rounded">
            <div class="card-header text-white rounded">
                <div class="card-title text-dark">List of movies</div>
            </div>
            <div>
                <div class="card-body">
                    @Html.ActionLink("Add Movie", "Add", "Movies", new {},
                    new {@class="mb-3 btn btn-primary rounded"
                    })
                    <div class="text-sm mb-3">
                        <div class="row">
                            @foreach (var movie in Model)
                            {
                                <div class="col-3">
                                    <div class="card text-center rounded pt-2 mt-2" style="width: 18rem;">
                                        <img src="@movie.ImgUrl" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@movie.Name</h5>
                                            <p class="card-text">Year: @movie.Year</p>
                                            <p class="card-text">Rating: @movie.Rating</p>
                                            <p class="card-text">Genres: @movie.Genres</p>

                                            @Html.ActionLink("Edit","Edit","Movies",new {@movieId = movie.Id},new {@class = "btn btn-warning rounded"})
                                            <button type="button" onclick="deleteMovie('@movie.Id')" class="btn btn-danger rounded" data-bs-toggle="modal" data-bs-target="#deleteMovieModal">
                                                Delete
                                            </button>

                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>

@section Scripts{
    <script>
            function deleteMovie(movieId) {
                $('#movieId').val(movieId);
                $('#deleteMovieTBody').html("");
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetMovie","Movies")',
                    data: {
                        movieId: movieId
                    },
                    success: function (response) {
                        console.log(response);
                        $('#deleteMovieTBody').append(`
                                        <tr>
                                            <td>
                                                ${response.name}
                                            </td>
                                            <td>
                                                ${response.rating}
                                            </td>
                                            <td>
                                                ${response.year}
                                            </td>
                                       </tr>`);
                        $('#deleteMovieModal').modal('show');
                    },
                })
            }

            function deleteMovieConfirmed() {
                var movieId = $('#movieId').val();
                $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("DeleteMovie","Movies")',
                    data: {
                        movieId: movieId
                    },
                    success: function (response) {
                        location.reload();
                    },
                })
            }
    </script>
}



@section BodyArea{
        <div class="modal fade" id="deleteMovieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete this movie?</h1>
                        <button type="button" class="btn-close rounded" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped my-4 w-100" id="deleteMovieTable">
                                <thead>
                                    <tr>
                                        <th>Movie Name</th>
                                        <th>Rating</th>
                                        <th>Year</th>
                                    </tr>
                                </thead>
                                <tbody id="deleteMovieTBody">
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <input type="text" hidden id="movieId" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" onclick="deleteMovieConfirmed()" class="btn btn-primary rounded">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}