@using Domain.DTO;
@using Domain.DomainModels;
@model List<Ticket>

@{
    Layout = "_Layout";
    ViewData["Title"] = "Tickets";
}

<div class="container">
    <div class="content-heading">
        <div>
            Tickets
            <div>
                <small>Add, delete or update tickets</small>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12 pt-3">
        <div class="card rounded">
            <div class="card-header text-white rounded">
                <div class="card-title text-dark">List of tickets</div>
            </div>
            <div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 text-center mt-2">
                            @Html.ActionLink("Add Ticket", "Add", "Ticket", new {},
                            new {@class="mb-3 btn btn-primary rounded"
                            })
                        </div>
                        <div class="col-2">
                            <div class="form-floating mb-3 ml-3">
                                <input type="date" onchange="filter()" class="form-control rounded" id="dateFilter" placeholder="dd.mm.yyyy">
                                <label for="floatingInput">Date</label>
                            </div>
                        </div>
                    </div>

                    <div class="text-sm mb-3" id="listTicketDiv">
                       @await Html.PartialAsync("_ListTickets", Model)
                    </div>
                </div>

            </div>
        </div>
    </div>

    @section Scripts{
        <script>
            function deleteTicket(ticketId) {
                $('#ticketId').val(ticketId);
                $('#deleteTicketTBody').html("");
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetTicket","Ticket")',
                    data: {
                        ticketId: ticketId
                    },
                    success: function (response) {
                        $('#deleteTicketTBody').append(`
                                                    <tr>
                                                        <td>
                                                            ${response.movie.name}
                                                        </td>
                                                        <td>
                                                            ${response.movie.rating}
                                                        </td>
                                                        <td>
                                                            ${response.movie.year}
                                                        </td>
                                                        <td>
                                                            ${response.price}$
                                                        </td>
                                                        <td>
                                                            ${response.seatNumber}
                                                        </td>
                                                        <td>
                                                            ${response.time}
                                                        </td>
                                                        <td>
                                                            ${moment(response.date).format('DD.MM.YYYY')}
                                                        </td>
                                                   </tr>`);
                        $('#deleteTicketModal').modal('show');
                    },
                })
            }
            function deleteTicketConfirmed() {
                var ticketId = $('#ticketId').val();
                $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("DeleteTicket","Ticket")',
                    data: {
                        ticketId: ticketId
                    },
                    success: function (response) {
                        location.reload();
                    },
                })
            }
            function filter(){
                var date = $('#dateFilter').val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("FilterTickets","Ticket")',
                    data: {
                        date: date
                    },
                    success: function (response) {
                        $('#listTicketDiv').html(response)
                        //location.reload();
                    },
                })
            }
            function addToCart(ticketId){
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddTicketToCart","ShoppingCart")',
                    data: {
                        ticketId: ticketId
                    },
                    success: function (response) {
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'top-end',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })

                        Toast.fire({
                            icon: 'success',
                            title: 'Ticket sucessfully added to shopping cart!'
                        })
                    },
                })
            }
        </script>
    }



    @section BodyArea{
        <div class="modal fade" id="deleteTicketModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure you want to delete this ticket?</h1>
                        <button type="button" class="btn-close rounded" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-striped my-4 w-100" id="deleteTicketTable">
                                <thead>
                                    <tr>
                                        <th>Movie Name</th>
                                        <th>Rating</th>
                                        <th>Year</th>
                                        <th>Price</th>
                                        <th>Seat Number</th>
                                        <th>Time</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody id="deleteTicketTBody">
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <input type="text" hidden id="ticketId" />
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" onclick="deleteTicketConfirmed()" class="btn btn-primary rounded">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
