@using Domain.DTO;

@model List<ListPaidOrdersDto>

<br />
<div class="container">
    <div class="card">
        <div class="card-header bg-dark text-light ml-0">
            <div class="row">
                <div class="col-6  pt-2">
                    <i class="fa fa-shopping-cart"></i> &nbsp;
                    Orders made
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="Ticket" asp-action="Index" class="btn btn-outline-info btn-sm">Continue Shopping</a>
                </div>
            </div>
        </div>

        <div class="card-body">
            @foreach (var item in Model)
            {
                <div class="row">
                        <h5>@item.OrderDate.ToString("dd.MM.yyyy HH:mm")</h5>
                </div>
                @foreach (var movie in item.PaidTicketMovies)
                {
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-1 text-center py-2">
                            <img src="@movie.ImgUrl" class="rounded" width="100%" />
                        </div>
                        <div class="col-12 col-lg-6 pt-md-3">
                            <h5><strong>@movie.MovieName</strong></h5>
                            <p><small></small></p>
                        </div>
                        <div class="col-12  col-lg-5 text-center row">
                            <div class="col-4 text-md-right pt-4">
                                <h6>
                                    <strong>
                                        @movie.Price.ToString("c")
                                        <span class="text-muted">&nbsp;x&nbsp;</span>@movie.Quantity
                                    </strong>
                                </h6>
                            </div>
                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-6 col-lg-4 offset-lg-8 pr-4">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between bg-light">
                                <span class="text-info"> Total (USD)</span>
                                <strong class="text-info">@item.TotalSum</strong>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="text-end mt-3">
                    <a asp-controller="Orders" asp-action="PdfExport" asp-route-orderId="@item.OrderId" class="btn btn-outline-info btn-sm rounded">Pdf Export</a>
                </div>

                <hr />

            }

        </div>
    </div>
</div>